:root{
  --buttonMarginLeft: 7px;
  --buttonMarginBot: 7px;

  --guiButtonZI: 1000;

  --centerButtonColor: rgb(0, 255, 204);
  --centerButtonColorBoxShadow: rgb(0, 255, 204,0.55);
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.app-label{
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
  pointer-events: none;
}

.map-container{
  height: 100vh;
  width: 100%;
}

.clicked-coord-label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}
#centerButton{
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 10px 10px;
  padding: 20px;
  height: 40px;
  width: 40px;

  border-radius: 50%;
  z-index: var(--guiButtonZI);

  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none;

  background-color: var(--centerButtonColor);
}
#centerButton:hover{
  --hoverEffectCenter: 0px 0px 0px 15px rgba(0,0,0,1);
  box-shadow: var(--hoverEffectCenter);
  -webkit-box-shadow: var(--hoverEffectCenter);
  -moz-box-shadow: var(--hoverEffectCenter);
}

#newRequestButton{
  --pxSize: min(40vw,120px);
  position: fixed;
  bottom: calc(-1*var(--pxSize));
  left: calc(-1*var(--pxSize));

  padding: var(--pxSize);

  border-radius: 50%;
  background-color: green;
}
#newRequestButton:hover{
  --hoverNewRequest: 0px 0px 0px 30px rgba(0,0,0,1);
  box-shadow: var(--hoverNewRequest);
  -webkit-box-shadow: var(--hoverNewRequest);
  -moz-box-shadow: var(--hoverNewRequest);
}

#newRequestButtonText{

}
